@import './media.scss';

html {
    @apply font-roboto text-dark-grey font-light;
}

.name {
    @apply font-raleway text-xl text-dark-pink font-bold uppercase inline;

    text-shadow: 0.1rem 0.1rem #fac6c2;
}
.heading {
    @apply font-raleway text-center relative mb-12 text-2xl font-medium;

    &::after {
        content: '';
        background: linear-gradient(135deg, #62b1a2 0%, #a7c9de 100%);
        @apply w-[200px] h-[2px] absolute bottom-[-10px] left-1/2 -translate-x-1/2;
    }
}
h2 {
    @apply font-normal mb-3 text-xl;
}
h3 {
    @apply font-normal mb-3;
}
h4 {
    @apply font-normal mb-3;
}

a {
    text-decoration: none;
}
p {
    @apply text-base mb-4;
}

.content {
    a {
        @apply font-roboto font-light text-dark-grey relative z-10;

        &::after {
            content: '';
            @apply bg-dark-grey w-full h-2 absolute top-1/2 left-0 -translate-y-1/2 -z-10 opacity-15;
        }

        &:hover,
        &:focus,
        &:focus-visible {
            &::after {
                @apply bg-light-pink opacity-100;
            }
        }
    }

    .project-insights {
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        padding: calc(40px + 1em) 2px 2px 2px;
        z-index: 1;

        &::before {
            content: 'From Shelley:';
            color: white;
            background: linear-gradient(135deg, #62b1a2 0%, #a7c9de 100%);
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            padding: 20px 25px;
        }
        p {
            background-color: white;
            border-radius: 5px;
            margin: 0;
            padding: 25px;
        }
    }
}

.button {
    padding: 5px 8px;
    margin: 0 auto;
    font-size: 0.95em;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #62b1a2;
    text-align: center;
    color: #4d4d4d;

    &::after {
        background-color: initial;
    }

    &:hover {
        background-color: #ffffff50;

        &::after {
            background-color: initial;
        }
    }
}

.header {
    background-color: #62b1a2;
    background: linear-gradient(135deg, #62b1a2 0%, #a7c9de 100%),
        url(../../static/images/asanoha-400px.png);
    background-blend-mode: multiply;
}

.footer {
    background-image: url(../../static/images/asanoha-400px.png);
    overflow: auto;

    dl {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;

        dt {
            font-weight: 500;
        }
    }

    p a {
        @apply font-roboto font-light text-dark-grey relative z-10;

        &::after {
            content: '';
            @apply bg-dark-grey w-full h-2 absolute top-1/2 left-0 -translate-y-1/2 -z-10 opacity-15;
        }

        &:hover,
        &:focus,
        &:focus-visible {
            &::after {
                @apply bg-light-pink opacity-100;
            }
        }
    }
}

section,
.content {
    @apply overflow-auto p-8 md:p-12;
    border-top: #f8f8f8 solid 2px;

    &:first-of-type {
        border: 0;
    }
}

#expertise {
    ul {
        li {
            @apply opacity-40 hover:opacity-100 focus:opacity-100 focus-visible:opacity-100 relative flex items-center;

            [role='tooltip'] {
                @apply absolute hidden bg-light-pink text-xs uppercase font-bold left-[80%] top-[80%] px-2 py-1 z-10 whitespace-nowrap;
            }
            &:hover [role='tooltip'] {
                @apply block;
            }

            img {
                width: 1.875rem;
                height: auto;
            }
        }
    }
}

#expertise,
.project-detail {
    overflow: auto;

    .skill {
        width: 25%;
        margin-top: 40px;
        margin-right: 12.5%;
        float: left;
        text-align: center;

        &:nth-of-type(3n) {
            margin-right: 0;
        }

        h3 {
            font-size: 1.3em;
            margin-bottom: 10px;
            font-weight: 400;
            min-width: 100%;
        }

        div {
            position: relative;
            display: inline-block;
            width: 90px;
            height: 90px;
            margin: 0 auto 30px auto;

            &::before {
                content: '';
                border-radius: 100%;
                border: 1px solid #62b1a2;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &::after {
                content: '';
                border-radius: 100%;
                border: 1px solid #a7c9de;
                padding: 5px;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            svg {
                height: 100%;
                width: 60%;
                stroke: #6c6c6c;
                stroke-width: 1.2;
            }
        }
    }
}
#work {
    overflow: auto;

    .case-studies {
        .case-study-wrapper {
            width: 100%;
            margin-bottom: 4%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .case-study-header {
                height: 180px;
                padding: 30px;
                position: relative;
                z-index: 1;
                overflow: hidden;

                .case-study-title {
                    h3,
                    p {
                        color: white;
                        margin: 20px 0;
                        text-shadow: 0 0 5px black;
                    }

                    & > div {
                        position: absolute;
                        bottom: 30px;
                        right: 30px;
                    }
                }
                .case-study-image {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    opacity: 80%;
                    background: linear-gradient(
                        135deg,
                        #62b1a2 0%,
                        #a7c9de 100%
                    );
                    border-radius: 5px;

                    img {
                        mix-blend-mode: multiply;
                    }
                }
            }
            .case-study-detail {
                border: lightgrey solid 1px;
                border-top: 0;
                margin-top: -5px;
                border-radius: 0 0 5px 5px;
                padding: 20px 20px;
                flex-grow: 1;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;

                .button {
                    margin: 0;

                    &::after {
                        background-color: initial;
                    }

                    &:hover {
                        background-color: #ffffff50;

                        &::after {
                            background-color: initial;
                        }
                    }
                }

                .code-links {
                    li {
                        .icon {
                            color: #4d4d4d;

                            &::after {
                                background-color: initial;
                            }

                            &:hover {
                                color: #62b1a2;
                                background-color: initial;

                                &::after {
                                    background-color: initial;
                                }
                            }

                            svg {
                                width: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

form {
    @apply lg:w-2/3 m-auto w-full;

    label {
        font-weight: 400;
        margin-top: 10px;
        display: block;
    }

    input,
    textarea {
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px 8px;
        width: 100%;
        font-size: 1.2em;
        line-height: 1.5em !important;
        margin: 5px 0;
        font-family: 'Roboto', sans-serif;
    }

    textarea {
        height: 200px;
    }

    button {
        float: right;

        &:hover {
            cursor: pointer;
        }
    }
}

:focus-visible {
    @apply outline-2 outline-green;
}
