@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    color: #ba436b;
    text-shadow: 0.1rem 0.1rem #fac6c2;
    font-weight: 600;
    text-transform: uppercase;
    display: inline;
    line-height: 50px;
}

h3, p, label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #4D4D4D;
}
a {
    text-decoration: none;
}


.layout {
    background-color: #F8F8F8;
    padding-top: 50px;

    .wrapper {
        background-color: white;
        width: 85%;
        max-width: 1000px;
        margin: 60px auto 0 auto;
        border-radius: 5px;

        a {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            color: #4D4D4D;
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                background-color: #d8d8d8;
                width: 100%;
                height: 7px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                z-index: -1;
            }
            
            &:hover {
                &::after {
                    background-color: #62B1A2;
                }
            }
        }

        .social-links {
            text-align: center;
            list-style: none;
            margin-top: 15px;
    
            li {
                display: inline-block;
                margin: 0 10px;
    
                a {
                    color: #4d4d4d45;
    
                    &::after {
                        background-color: initial;
                    }
                    
                    &:hover {
                        color: #4d4d4d;
                        background-color: initial;
    
                        &::after {
                            background-color: initial;
                        }
                    }
                }
            }
        }

        .button {
            padding: 5px 8px;
            margin: 0 auto;
            font-size: 0.95em;
            border-radius: 10px;
            margin-top: 10px;
            display: inline-block;
            border: 1px solid #62b1a2;
            text-align: center;
            color: #4d4d4d; 

            &::after {
                background-color: initial;
            }

            &:hover {
                background-color: #ffffff50;

                &::after {
                    background-color: initial;
                }
            }
        }
    }
}

.header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    background-color: #62b1a2;
    background: linear-gradient(135deg, #62b1a2 0%, #a7c9de 100%), url(../../static/images/asanoha-400px.png);
    background-blend-mode: multiply;
    color: white;
    z-index: 100;

    div {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        overflow: auto;

        a {
            color: white;
            font-family: "Raleway", sans-serif;
            text-decoration: none;
            font-weight: 400;
            line-height: 25px;

            &:hover {
                
            }
        }
        
        ul {
            float: right;
            height: 100%;
            list-style: none;
            display: block;

            li {
                float: left;
                margin: 10px 0 10px 10px;
            }
        }
    }
}

.footer {
    background-image: url(../../static/images/asanoha-400px.png);
    overflow: auto;
    padding: 30px;

    h1 {
        display: block;
        margin-bottom: 15px;
    }

    div {
        width: 48%;
        margin-left: 2%;
        float: left;

        &:first-of-type{
            margin: 0;
        }
    }

    dl {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: #4D4D4D;
        overflow: auto;

        dt {
            width: 20%;
            float: left;
            font-weight: 500;
            margin-bottom: 5px;
        }

        dd {
            margin-left: 5%;
            width: 75%;
            float: left;
            margin-bottom: 5px;
        }
    }
}

section {
    border-top: #F8F8F8 solid 2px;
    padding: 50px;

    &:first-of-type {
        border: 0;

        h2 {
            margin-top: 50px;
            text-align: left;
            font-size: 2em;

            &::after {
                left: 0;
                transform: translate(0, 0);
            }
        }
    }

    h2 {
        color: #4D4D4D;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        text-align: center;
        position: relative;
        margin-bottom: 50px;

        &::after {
            content: "";
            background: linear-gradient(135deg, #62b1a2 0%, #a7c9de 100%);
            width: 200px;
            height: 2px;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}

#welcome {
    p {
        margin: 50px 0;
        font-size: 1.3em;
        width: 60%;
    }
}
#expertise {
    overflow: auto;

    .skill {
        width: 25%;
        margin-left: 12.5%;
        float: left;
        text-align: center;

        &:first-of-type {
            margin-left: 0;
        }

        h3 {
            font-size: 1.3em;
            margin-bottom: 10px;
        }

        div {
            position: relative;
            display: inline-block;
            width: 90px;
            height: 90px;
            margin: 0 auto 30px auto;

            &::before {
                content: "";
                border-radius: 100%;
                border: 1px solid #62B1A2;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &::after {
                content: "";
                border-radius: 100%;
                border: 1px solid #A7C9DE;
                padding: 5px;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            svg {
                height: 100%;
                width: 60%;
                stroke: #6C6C6C;
                stroke-width: 1.2;
            }
        }
    }
}
#work {
    overflow: auto;

    .case-study {
        width: 48%;
        margin-left: 2%;
        margin-top: 2%;
        float: left;
        padding: 30px;
        position: relative;
        z-index: 1;

        &:nth-child(even) {
            margin-left: 0;
        }

        &::before {
            content: "";
            background-color: #62b1a242;
            background: linear-gradient(135deg, #62b1a2 0%, #a7c9de 100%), url(../../static/images/pug-bw.jpg);
            background-blend-mode: multiply;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.7;
        }

        h3, p{
            color: white;
            margin: 20px 0;
        }
    }

    .code-links {
        text-align: center;
        list-style: none;
        margin-top: 15px;
        overflow: auto;

        li {
        margin-left: 10px;
        float: right;

            a {
                color: #ffffff90;

                &::after {
                    background-color: initial;
                }
                
                &:hover {
                    color: #ffffff;
                    background-color: initial;

                    &::after {
                        background-color: initial;
                    }
                }

                svg {
                    width: 15px;
                }
            }
        }
    }
    .button {
        float: right;
        color: white;
        margin-top: 0;
    }
}

form {
    width: 80%;
    margin: auto;
    max-width: 700px;
    overflow: auto;
    
    label {
        font-size: 0.8em;
        font-weight: 400;
        margin-top: 10px;
        display: block;
    }

    input, textarea {
        border: 1px solid lightgrey;
        border-radius: 4px;
        box-shadow: 0 0 6px 0 lightgrey inset;
        padding: 5px 8px;
        width: 100%;
        font-size: 0.85em;
        line-height: 1.5em !important;
        font-size: 0.9em;
        margin: 5px 0;
    }

    textarea {
        height: 200px;
    }

    button {
        float: right;
        
        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 750px) {
    .footer {
        div {
            width: 100%;
            margin: 10px 0;
        }
    }

    #expertise {
        .skill {
            width: 30%;
            margin-left: 5%;
        }
    }
}

@media (max-width: 600px) {
    #welcome {
        p {
            width: 100%;
        }
    }
    #expertise {
        .skill {
            width: 100%;
            margin-left: 0;
            margin-top: 35px;

            &:first-of-type {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 550px) {

}